html, * {
  margin: 0;
  padding: 0;
}

.padding-personalizado {
  padding: 25px 31px 25px 31px;
}

.btn-primary {
  background-color: #035AA6;
  border-color: #035AA6;
}

.btn-login {
  margin-left: 40px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.margin-icon {
  margin-right: 5px !important;
}

.body-content{
  margin-bottom: 152px;
}

footer{
  bottom: 0;
  left: 0;
  height: 152px;
  position: fixed;
  width: 100%;
}